body{
  background:#FAFAFC;
  background-attachment: fixed;
  background-image: url("../images/pb_background.jpg");
  background-repeat:repeat-x;
  color:#043042;
  font:16px Helvetica,Arial,sans-serif;
  line-height:1.6em;
  margin-left:164px;
  max-width:960px;
}
th.glider_class {
  padding-left: 0;
  text-align: center;
}
td.glider_class span {
  background-image: url("../images/alas.png");
  display: block;
  width: 94px;
  height: 40px;
}
td.class_0 span {
  background-position: 0px -197px;
}
td.class_5 span {
  background-position: 2px -101px;
}
a{
  color:#14173a;
  font-weight:700;
  text-decoration:none
}
a:hover{
  border-bottom:1px #14173a dashed
}
h2 a{
  color:#88A;
  font-weight:700;
}
h2 a:hover{
  color:#011012;
  border-bottom: none
}
img.logo {
  position:fixed;
  left:20px;
  top:12px;
}
img.glider {
  position:fixed;
  left:-150px;
  top:60px;
}

header h1{
  font-size:36px;
  font-weight:bolder;
  padding-top:17px;
  margin-bottom:0;
  line-height:0.9em;
  text-shadow:#91a1a9 1px 1px 0
}
header h2{
  font-size:20px;
  margin-top:5px;
}
nav{
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
  font-size:95%;
  position:fixed;
  left:15px;
  top:159px;
  height:50px;
  height:auto;
  overflow:visible;
  border-radius:5px;
  -moz-border-radius:5px;
}
nav ul{
  list-style:none;
  padding-left:0px;
  margin-left:0px;
}
nav li a{
  padding:0 19px 0 18px;
  font-weight: normal;
  display: block;
}
nav li.active {
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
}
nav li.active a {
  font-weight: bold;
}
nav li a:hover {
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
  border-bottom:0;
}
div.centered {
  text-align: center;
  margin: 10px;
}
div.article {
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
  padding:10px 20px 30px 30px;
  margin-top:54px;
  width:90%;
  border-radius:5px;
  -moz-border-radius:5px;
}
div.account_wrapper {
  text-align: center;
}
div.account {
  margin: 10px;
  padding: 10px;
  text-align: center;
  font-size: 130%;
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
  border-radius:5px;
  -moz-border-radius:5px;

  min-height: 50px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 50px;
}
div.account h4 {
  margin: 0px;
}
div.account p {
  padding: 0px;
  margin: 0px;
}
#post h2 {
  margin-bottom: 0;
}
section h2 {
  border-bottom:2px black solid;
  padding-bottom:5px;
}
span.date {
  float: right;
  font-weight: normal;
  color: #D1DDFF;
}
fieldset {
  padding: 0px 2% 20px 2%;
  background: none repeat scroll 0 0 #e2d7c1;
  margin:1%;
  width: 42%;
  border-radius:5px;
  -moz-border-radius: 5px 5px 5px 5px;

  min-height: 200px;
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
  _height: 200px;

}
form#new_pilot fieldset input, form#new_pilot fieldset select {
  font-size: 110%; 
  width: 100%;
  border:1px solid #666;
  font-size:14px;
}

form#new_pilot fieldset input {
  padding:6px 0;
  text-indent:7px;
}

form#new_pilot fieldset select {

}

form#new_pilot fieldset div.field label.error {
  display: none!important;
}
form#new_pilot fieldset div.field .error {
  margin-top: 2px;
  border: 1px red solid;
  background-color: #ffa1b1;
}
h3 {
  margin-top: 0.6em;
  margin-bottom: 0.3em;
}
p {
  margin-top: 0.1em;
}
fieldset h3 {
  border-bottom:1px black solid;
}
div.field {
  margin-top: 0.4em;
}
form input:focus {
  background: #d2dff5;
}
div.actions {
  width: 98%;
  text-align: center;
}
div.actions input{
  padding: 5px;
  font-size: 114%; 
  color:#043042;
  font-weight: bold; 
}
table {
  width: 100%;
}
table td {
  padding-left: 10px;
  padding-right: 10px;
}
table.results tr.day:hover {
  background: #d2d7f5;
}
table th {
  text-align: left;
  padding-left: 10px;
  background-color: #e2d7c1;
  border-radius:3px;
  -moz-border-radius:3px;
}
table.pilots tr:hover td,
table.pilots tr.class_0:hover td {
  background:#aaa;
  color: #1F1F2F;
}
table.pilots td {
  background-color: #d2d7ff;
  border-radius:3px;
  -moz-border-radius:3px;
}
table tr.spinner td {
  text-align: center;
  padding: 30px;
}
table.pilots tfoot td.total {
  font-size: 130%;
}
table.pilots tfoot td{
  background:url("../images/section_bg.png");
  background: rgba(255,2555,255, .4);
  font-size: 90%;
}
tfoot {
  margin-top:30px;
  display: none;
}
#total_pilots {
  font-weight: bold;
}
table.pilots tr.class_0 td {
  background: #A6FAA1;
}
#total_sport {
  color: #216F36;
}
footer {
  display: block;
  text-align: right;
  margin-top: 5px;
  font-size: 70%;
  margin-left:45px;
  width:90%;
}
footer a {
  color:#043042;
}

body.mapa iframe {
  width:100%;
  height:100%;
}
#map {
  border:1px grey solid;
  height: 450px;
}

a.dsq-brlink {
  font-size: 10px;
}

article a.media {
  border-bottom:0px;
}

.left {
  float: left;
}
.right {
  float: right;
}
article img.left {
  border:1px black solid;
  margin: 10px 35px 10px 0px;
  display: block;
}
article img.right {
  border:1px black solid;
  margin: 10px 0px 10px 20px;
  float: right;
}
div.clearer {
  clear: both;
  line-height: 0;
  height: 0;
}
#page-navigation {
  font-size: 80%;
  font-style: italic;
  margin-bottom: 0.8em;
}
article ul {
  padding-left: 10px;
}
article li {
  padding-top: 10px;
}

.hover { /* for IE using onmouseover and onmouseout */
background: #d2d7ff;
}
tr.fs_res_res_row:hover
{
background: #d2d7ff;
}
div.fs_res
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-size: x-small;
}
table.fs_res
{
border:solid 1px gray;
border-collapse:collapse;
font-size: x-small;
background: #e2d7c1;
}
td.fs_res
{
border:solid 1px gray;
vertical-align:top;
padding:5px;
nowrap:true;
}
th.fs_res
{
border:solid 1px gray;
vertical-align:center;
}





/*		Default Layout: 992px. 
		Leftover space for scrollbars @1024px: 32px.
-------------------------------------------------------------------------------
cols    1     2      3      4      5      6      7      8      9      10
px      68    160    252    344    436    528    620    712    804    896    */

body {
	-webkit-text-size-adjust: 100%; /* Stops Mobile Safari from auto-adjusting font-sizes */
}



/*		Tablet Layout: 768px.
		Inherits styles from: Default Layout.
-----------------------------------------------------------------
cols    1     2      3      4      5      6      7      8
px      68    160    252    344    436    528    620    712    */

@media only screen and (min-width: 768px) and (max-width: 991px) {
  
  body {
    background:#A7C7EF;
  }
  
  header h1 {
    font-size:30px;
  }
  
  article img {
    max-width:50%;
  }
  
  h2 span.date {
    float:none;
    color:#333;
    font-size:12px;
    display:block;
  }
  
  
}



/*		Mobile Layout: 320px.
		Inherits styles from: Default Layout.
--------------------------------------------- */

@media only screen and (max-width: 767px) {
  
    body {
      margin-left:0;
      margin-right:0;
      background:#A7C7EF;
    }
    
    header {
      padding-top:0px;
      margin-left:10px;
      margin-right:10px;
      position:relative;
    }
    
    header h1,
    header h2 {
      padding-left:74px;
    }
    
    header h1 {
      font-size:24px;
      line-height:normal;
    }
    
    header h2 {
      font-size:15px;
    }
  
    nav {
      position:static;
      left:auto;
      top:auto;
      padding-top:1px;
      padding-bottom:1px;
    }
    
    nav {
      margin-bottom:20px;
    }
    
    img.logo {
      position:absolute;
      left:0;
      top:-2px;
      width:60px;
    }
  
    div.article {
      margin:0 10px;
      width:auto;
      padding:20px;
    }
    
    article img {
      width:100%;
    }
    
    section h2 {
      margin-top:0;
    }
    
    h2 span.date {
      float:none;
      color:#333;
      font-size:12px;
      display:block;
    }
    
    article img.left,
    article img.right {
      float:none;
      margin:0;
    }
    
    
    fieldset {
      width:100%;
      margin-left:0;
      margin-right:0;
      margin-bottom:20px;
      padding-left:0;
      padding-right:0;
    }
    
    fieldset > * {
      margin-left:20px;
      margin-right:20px;
    }
    
    footer {
      margin:0 10px;
    }
	
}



/*		Wide Mobile Layout: 480px.
		Inherits styles from: Default Layout, Mobile Layout.
------------------------------------------------------------*/

@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	
}
