body{
  color:#043042;
  font:16px Helvetica,Arial,sans-serif;
  font-weight:bolder;
}
a img.logo {
  border: 0;
}
div#pilot_selects, div.logo {
  position:fixed;
  top:3px;
  left:3px;
  z-index:1;
  margin:0;
}
div#pilot_selects {
  left:126px;
  top: 0px;
  padding: 5px;
  line-height: 35px;
}
span.pilot_select {
  padding: 5px;
  margin-top: 20px;
  margin-right: 10px;
  border-radius:5px;
  -moz-border-radius:5px;
}

span.pilot_select label {
  display: none;
}

#map {
  width:100%;
  height:100%;
  display:block;
  z-index:0;
  background:#EEE;
  position:absolute;
  left:0;
  top:0;
}
